#footer {

	position: absolute;
	bottom: 0;
	width: 100%;
	margin: 0 0 0 0;

	.container {

		.row {

			.site-info {

				padding: 0 0 0 0;

				p {
					color: @text-color;
					font-size: @font-size-base;
				}
			}
		}
	}
}