#header {

	.container {

		// background-image: url( './images/grid-lg.png' );
		// background-size: 291px 24px;
		// background-repeat: repeat;
		// background-position: -12px top;

		.dropdown {

			a {
				.site-title {

					display: inline-block;
					margin: -1px 0 1px;
					font-family: @headings-font-family;
					font-size: @font-size-h4;
					font-weight: normal;
					line-height: @line-height-base;
				}
			}

			.dropdown-menu {

				margin: -15px 0 0;
			}
		}

		.site-description {

			margin: -( @line-height-computed + 1 ) 0 1px;	
			font-family: @headings-font-family;
			font-size: @font-size-small;
			line-height: @line-height-base;
			color: @gray-light;
			opacity: 1;
		}

		.top-navigation {

			padding-top: 6px;
		}
	}
}