body {

	&:before {

		background-color: inherit;
		box-shadow: none;
		content: "";
		display: inline;
		height: auto;
		min-height: 0;
		position: static;
		top: auto;
		left: auto;
		width: auto;
		z-index: auto;
	}

	.site {

		margin: 0 0 0 0;
		padding: 0 0 0 0;
		max-width: none;

		.site-header {

			margin: 0 0 ( @line-height-computed * 2 );
			padding: 0 0 0 0;

			.site-title {}
		}

		.site-content {

			margin: 0 0 0 0;
			display: block;
			width: auto;
			float: none;

			.site-main {

				padding: 0 0 0 0;

				.hentry {

					margin: 0 0 0 0;
					padding: 0 0 0 0;
					background-color: transparent;
					box-shadow: none;

					.entry-header {

						padding: 0 0 0 0;

						.entry-title {

							margin-top: -3px;
							margin-bottom: 0;
							font-size: @font-size-h1;
							line-height: @line-height-computed * 3;
						}
					}

					.entry-content {

						margin: 0 0 0 0;
						padding: 0 0 0 0;
					}

					.entry-footer {

						padding: @line-height-computed;
					}
				}

				&.t15wc {

					margin: 0 0 0 0;
					background-color: transparent;
					box-shadow: none;
				}
			}
		}

		.site-footer {

			float: none;
			padding: 0;
			width: auto;
			background-color: transparent;
			box-shadow: none;

			.widget {

				margin: 0 0 0 0;
				padding: 0 0 0 0;

				p {
					margin: 0 0 0 0;
				}
			}
		}
	}
}