//
// Scaffolding
// --------------------------------------------------


html {

	position: relative;
	min-height: 100%;
}

body {

	margin-bottom: 120px;
	// background-image: url( './images/baseline.png' );
	// background-size: 24px 24px;
	// background-repeat: repeat;
	// background-position: left top;
	text-rendering: geometricPrecision;
	-webkit-font-smoothing: antialiased;

  	.site {

  		.site-content {

  			.container {

				padding-top: 5px;
				// background-image: url( './images/grid-lg.png' );
				// background-size: 291px 24px;
				// background-repeat: repeat;
				// background-position: -12px top;
  			}
  		}
  	}
}


// Links

a {
  .transition-duration( 0.2s );
}