//
// Scaffolding
// --------------------------------------------------

html {}

body {}


// Links

a {
	.transition-duration( 0.2s );

	&:focus {
		
		outline: none;
		color: @gray-darker;
	}
}

hr {

	margin-top: @line-height-computed;
	margin-bottom: 0;
	border-top-style: dashed;
}