// Headings
// -------------------------

// Headings
// -------------------------

h1, h2, h3, h4 {

	margin: 0 0 0 0;
	text-transform: lowercase;

	&:before {
		content: '';
		display: inline-block;
		vertical-align: baseline;
	}

	&:after {
		content: '';
		display: inline-block;
		vertical-align: -@line-height-computed;
	}
}

h1, h2 {
	&:before {
		height: ( @line-height-computed * 3 );
	}
	&:after {
		height: ( @line-height-computed * 3 );
	}	
}

h2 {
	font-weight: normal;
}

h3, h4 {
	&:before {
		height: @line-height-computed;
	}

	&:after {
		height: @line-height-computed;
	}	
}

h4 {
	font-weight: normal;
}

// Body text
// -------------------------

p, address {
	margin: 0 0 0 0;

	&:before {
		content: '';
		display: inline-block;
		vertical-align: baseline;
		height: @line-height-computed;
	}

	&:after {
		content: '';
		display: inline-block;
		vertical-align: -@line-height-computed;
		height: @line-height-computed;
	}
}

// Page header
// -------------------------

.page-header {
	border-bottom: none;
	margin: 0;
	padding: 0;
}

// Elements
// -------------------------

label {
	font-weight: normal;
}

// Utilities
// -------------------------

.up-half {

	margin-top: -( @line-height-computed / 2 );
}

.up {

	margin-top: -@line-height-computed;	
}

.down-half {

	margin-top: ( @line-height-computed / 2 );
}

.down {

	margin-top: @line-height-computed;	
}

// Screen reader
// -------------------------

.screen-reader-text {

    clip: rect( 1px, 1px, 1px, 1px );
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}